
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root {
  /* ### Primary */

  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* ### Neutral */

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%)
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bg {
  width: 55%;
  height: 45rem;
  background-color: var(--pale-blue);
  background-image: url("./images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-position: top;
  margin: 15vw auto;
}

main {
  background-color: var(--very-pale-blue);
  position: relative;
  width: 24rem;
  padding: 0 1.5rem 1.5rem 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-top: 2rem;
  margin: 5.5rem auto;
}

main .hero_image {
  width: 24rem;
  height: 100%;
  border-radius: 1rem 1rem 0 0;
}

main h2 {
  color: var(--dark-blue);
  margin-top: 1rem;
  text-align: center;
  padding: 1rem;
  font-weight: 900;
}

main .card_description {
  color: var(--desaturated-blue);
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  padding-bottom: 1rem;
  font-weight: 500;
}

main .card_plan_container {
  background-color: rgba(114, 128, 167, 0.041);
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 2rem 1rem;
  gap: 2rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
}

.card_plan {
  position: relative;
  right: 20px;
}

.card_plan h3 {
  color: var(--dark-blue);
  font-size: 0.8rem;
  font-weight: 700;
  font-weight: 900;

}

.card_plan .price {
  color: var(--desaturated-blue);
  text-align: center;
}

main .card_buttons {
  display: flex;
  flex-direction: column;
  width: 100%
}

.card_buttons button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
}

.change_btn {
  color: hsl(245, 75%, 52%);
  font-weight: 700;
}

.change_btn:hover {
  color: hsl(245, 75%, 52%, 60%);
  text-decoration: none;
  cursor: pointer;
  transition: ease 0.6ms;
}

.proceed_btn {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  box-shadow: -0.5rem 1.5rem 3.5rem -1rem hsl(245, 75%, 52%, 60%);
  font-weight: 700;
}

.proceed_btn:hover {
  background-color: hsl(245, 75%, 52%, 80%);
  cursor: pointer;
  transition: ease 0.6ms;
}

.cancel_btn {
  background-color: transparent;
  color: var(--desaturated-blue);
  font-weight: 700;
}

.cancel_btn:hover {
  color: black;
  cursor: pointer;
  transition: ease 0.6ms;

}

.attribution {
  margin-top: 1rem;
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 0;
}
.attribution a { color: hsl(228, 45%, 44%); }

@media screen and (max-width: 700px) {

  .bg {
    margin: 55vw auto;
  }

  br {
    display: none;
  }
}

@media screen and (max-width: 500px) {

  body {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pale-blue);
  }


  .bg {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    background-image: none;
  }

  main, main .hero_image {
    width: 18rem;
  }

  main, main .hero_image {
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
  }

  main .card_description {
    width: 15rem;
  }

  main .card_buttons {
    width: 16.5rem;
    padding: 1rem 0rem 0rem 0rem;
  }

  main .card_plan_container {
    width: 19rem;
    padding: 1rem 2rem 1rem 1.5rem;
  }

  .proceed_btn {
    margin-bottom: 1.5rem;
  }


}


